Import Library in Here

In [1]:

from sklearn.preprocessing import MinMaxScaler, StandardScaler

2023-10-20 19:21:47.299392: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-10-20 19:21:47.299471: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-10-20 19:21:47.299498: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-10-20 19:21:47.307119: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

Load Job Dataset

In [2]:
import pandas as pd
job = pd.read_csv("job.csv", index_col=0)
job.head(10)

,Age,Accessibility,EdLevel,Employment,Gender,MentalHealth,MainBranch,YearsCode,YearsCodePro,Country,PreviousSalary,HaveWorkedWith,ComputerSkills,Employed
0,<35,No,Master,1,Man,No,Dev,7,4,Sweden,51552.0,C++;Python;Git;PostgreSQL,4,0
1,<35,No,Undergraduate,1,Man,No,Dev,12,5,Spain,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12,1
2,<35,No,Master,1,Man,No,Dev,15,6,Germany,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7,0
3,<35,No,Undergraduate,1,Man,No,Dev,9,6,Canada,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13,0
4,>35,No,PhD,0,Man,No,NotDev,40,30,Singapore,160932.0,C++;Python,2,0
5,<35,No,Master,1,Man,No,Dev,9,2,France,38915.0,JavaScript;Python;Docker;Git;MySQL,5,0
6,>35,No,Master,1,Man,No,Dev,26,18,Germany,77831.0,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,17,1
7,<35,No,Master,1,Man,No,NotDev,14,5,Switzerland,81319.0,C++;Python;Docker;Git,4,0
8,>35,No,Undergraduate,1,Man,No,Dev,39,21,United Kingdom of Great Britain and Northern I...,68507.0,Python;Git;PostgreSQL,3,0
9,>35,No,Master,1,Man,No,Dev,20,16,Russian Federation,37752.0,Delphi;Java;SQL;Docker;Git;PostgreSQL,6,0

Drop some columns because it doesn't matter in our training

In [3]:
job.drop(columns=["Employment", "Gender", "MainBranch", "Country"], axis=1, inplace=True)
job.head(10)

,Age,Accessibility,EdLevel,MentalHealth,YearsCode,YearsCodePro,PreviousSalary,HaveWorkedWith,ComputerSkills,Employed
0,<35,No,Master,No,7,4,51552.0,C++;Python;Git;PostgreSQL,4,0
1,<35,No,Undergraduate,No,12,5,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12,1
2,<35,No,Master,No,15,6,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7,0
3,<35,No,Undergraduate,No,9,6,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13,0
4,>35,No,PhD,No,40,30,160932.0,C++;Python,2,0
5,<35,No,Master,No,9,2,38915.0,JavaScript;Python;Docker;Git;MySQL,5,0
6,>35,No,Master,No,26,18,77831.0,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,17,1
7,<35,No,Master,No,14,5,81319.0,C++;Python;Docker;Git,4,0
8,>35,No,Undergraduate,No,39,21,68507.0,Python;Git;PostgreSQL,3,0
9,>35,No,Master,No,20,16,37752.0,Delphi;Java;SQL;Docker;Git;PostgreSQL,6,0

Separate between feature X and feature Y

In [4]:
df_feature_x = pd.DataFrame(
    [job["Age"], job["Accessibility"], job["EdLevel"], job["MentalHealth"], job["YearsCode"], job["YearsCodePro"], 
     job["PreviousSalary"], job["HaveWorkedWith"], job["ComputerSkills"]]).transpose()
df_feature_x.head(10)

,Age,Accessibility,EdLevel,MentalHealth,YearsCode,YearsCodePro,PreviousSalary,HaveWorkedWith,ComputerSkills
0,<35,No,Master,No,7,4,51552.0,C++;Python;Git;PostgreSQL,4
1,<35,No,Undergraduate,No,12,5,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12
2,<35,No,Master,No,15,6,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7
3,<35,No,Undergraduate,No,9,6,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13
4,>35,No,PhD,No,40,30,160932.0,C++;Python,2
5,<35,No,Master,No,9,2,38915.0,JavaScript;Python;Docker;Git;MySQL,5
6,>35,No,Master,No,26,18,77831.0,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,17
7,<35,No,Master,No,14,5,81319.0,C++;Python;Docker;Git,4
8,>35,No,Undergraduate,No,39,21,68507.0,Python;Git;PostgreSQL,3
9,>35,No,Master,No,20,16,37752.0,Delphi;Java;SQL;Docker;Git;PostgreSQL,6

In [5]:
df_feature_y = pd.DataFrame(job["Employed"])
df_feature_y.head(10)

   Employed
0         0
1         1
2         0
3         0
4         0
5         0
6         1
7         0
8         0
9         0

One-hot Encode some Columns

In [6]:
df_onehot_age = pd.get_dummies(df_feature_x["Age"], prefix="Age")
df_onehot_access = pd.get_dummies(df_feature_x["Accessibility"], prefix="Accessibility")
df_onehot_edlevel = pd.get_dummies(df_feature_x["EdLevel"], prefix="EdLevel")
df_onehot_mental = pd.get_dummies(df_feature_x["MentalHealth"], prefix="MentalHealth")
df_feature_x = pd.concat([df_onehot_age, df_onehot_access, df_onehot_edlevel, df_onehot_mental, df_feature_x], axis=1)
df_feature_x.drop(columns=["Age", "Accessibility", "EdLevel", "MentalHealth"], inplace=True)
df_feature_x.head(10)

,Age_<35,Age_>35,Accessibility_No,Accessibility_Yes,EdLevel_Master,EdLevel_NoHigherEd,EdLevel_Other,EdLevel_PhD,EdLevel_Undergraduate,MentalHealth_No,MentalHealth_Yes,YearsCode,YearsCodePro,PreviousSalary,HaveWorkedWith,ComputerSkills
0,True,False,True,False,True,False,False,False,False,True,False,7,4,51552.0,C++;Python;Git;PostgreSQL,4
1,True,False,True,False,False,False,False,False,True,True,False,12,5,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12
2,True,False,True,False,True,False,False,False,False,True,False,15,6,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7
3,True,False,True,False,False,False,False,False,True,True,False,9,6,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13
4,False,True,True,False,False,False,False,True,False,True,False,40,30,160932.0,C++;Python,2
5,True,False,True,False,True,False,False,False,False,True,False,9,2,38915.0,JavaScript;Python;Docker;Git;MySQL,5
6,False,True,True,False,True,False,False,False,False,True,False,26,18,77831.0,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,17
7,True,False,True,False,True,False,False,False,False,True,False,14,5,81319.0,C++;Python;Docker;Git,4
8,False,True,True,False,False,False,False,False,True,True,False,39,21,68507.0,Python;Git;PostgreSQL,3
9,False,True,True,False,True,False,False,False,False,True,False,20,16,37752.0,Delphi;Java;SQL;Docker;Git;PostgreSQL,6

Make it so when True=1, False=0

In [7]:
df_feature_x["Age_<35"] = df_feature_x["Age_<35"].astype(int)
df_feature_x["Age_>35"] = df_feature_x["Age_<35"].astype(int)
df_feature_x["Accessibility_No"] = df_feature_x["Accessibility_No"].astype(int)
df_feature_x["Accessibility_Yes"] = df_feature_x["Accessibility_Yes"].astype(int)
df_feature_x["EdLevel_Master"] = df_feature_x["EdLevel_Master"].astype(int)
df_feature_x["EdLevel_NoHigherEd"] = df_feature_x["EdLevel_NoHigherEd"].astype(int)
df_feature_x["EdLevel_Other"] = df_feature_x["EdLevel_Other"].astype(int)
df_feature_x["EdLevel_PhD"] = df_feature_x["EdLevel_PhD"].astype(int)
df_feature_x["EdLevel_Undergraduate"] = df_feature_x["EdLevel_Undergraduate"].astype(int)
df_feature_x["MentalHealth_No"] = df_feature_x["MentalHealth_No"].astype(int)
df_feature_x["MentalHealth_Yes"] = df_feature_x["MentalHealth_Yes"].astype(int)
df_feature_x.head(10)

,Age_<35,Age_>35,Accessibility_No,Accessibility_Yes,EdLevel_Master,EdLevel_NoHigherEd,EdLevel_Other,EdLevel_PhD,EdLevel_Undergraduate,MentalHealth_No,MentalHealth_Yes,YearsCode,YearsCodePro,PreviousSalary,HaveWorkedWith,ComputerSkills
0,1,1,1,0,1,0,0,0,0,1,0,7,4,51552.0,C++;Python;Git;PostgreSQL,4
1,1,1,1,0,0,0,0,0,1,1,0,12,5,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12
2,1,1,1,0,1,0,0,0,0,1,0,15,6,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7
3,1,1,1,0,0,0,0,0,1,1,0,9,6,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13
4,0,0,1,0,0,0,0,1,0,1,0,40,30,160932.0,C++;Python,2
5,1,1,1,0,1,0,0,0,0,1,0,9,2,38915.0,JavaScript;Python;Docker;Git;MySQL,5
6,0,0,1,0,1,0,0,0,0,1,0,26,18,77831.0,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,17
7,1,1,1,0,1,0,0,0,0,1,0,14,5,81319.0,C++;Python;Docker;Git,4
8,0,0,1,0,0,0,0,0,1,1,0,39,21,68507.0,Python;Git;PostgreSQL,3
9,0,0,1,0,1,0,0,0,0,1,0,20,16,37752.0,Delphi;Java;SQL;Docker;Git;PostgreSQL,6

In [8]:
df_feature_y["Employed"] = df_feature_y["Employed"].astype(float)
df_feature_y.head(10)

   Employed
0       0.0
1       1.0
2       0.0
3       0.0
4       0.0
5       0.0
6       1.0
7       0.0
8       0.0
9       0.0

Standardizing YearsCode, YearsCodePro, PreviousSalary, and ComputerSkill

In [9]:
norm_scaler = StandardScaler()

years_code = df_feature_x["YearsCode"].values.reshape(-1, 1)
years_code_pro = df_feature_x["YearsCodePro"].values.reshape(-1, 1)
prev_salary = df_feature_x["PreviousSalary"].values.reshape(-1, 1)
comp_skill = df_feature_x["ComputerSkills"].values.reshape(-1, 1)

new_values_years_code = norm_scaler.fit_transform(years_code)
new_values_years_pro = norm_scaler.fit_transform(years_code_pro)
new_values_salary = norm_scaler.fit_transform(prev_salary)
new_values_skill = norm_scaler.fit_transform(comp_skill)

df_feature_x["YearsCode"] = new_values_years_code
df_feature_x["YearsCodePro"] = new_values_years_pro
df_feature_x["PreviousSalary"] = new_values_salary
df_feature_x["ComputerSkills"] = new_values_skill

df_feature_x.head(10)

,Age_<35,Age_>35,Accessibility_No,Accessibility_Yes,EdLevel_Master,EdLevel_NoHigherEd,EdLevel_Other,EdLevel_PhD,EdLevel_Undergraduate,MentalHealth_No,MentalHealth_Yes,YearsCode,YearsCodePro,PreviousSalary,HaveWorkedWith,ComputerSkills
0,1,1,1,0,1,0,0,0,0,1,0,-0.767551,-0.640488,-0.327318,C++;Python;Git;PostgreSQL,-1.335861
1,1,1,1,0,0,0,0,0,1,1,0,-0.235925,-0.514862,-0.429768,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,-0.202361
2,1,1,1,0,1,0,0,0,0,1,0,0.083050,-0.389236,0.192769,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,-0.910798
3,1,1,1,0,0,0,0,0,1,1,0,-0.554901,-0.389236,-0.436780,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,-0.060674
4,0,0,1,0,0,0,0,1,0,1,0,2.741180,2.625783,1.882923,C++;Python,-1.619236
5,1,1,1,0,1,0,0,0,0,1,0,-0.554901,-0.891739,-0.582674,JavaScript;Python;Docker;Git;MySQL,-1.194173
6,0,0,1,0,1,0,0,0,0,1,0,1.252628,1.118274,0.203701,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,0.506076
7,1,1,1,0,1,0,0,0,0,1,0,-0.023275,-0.514862,0.274183,C++;Python;Docker;Git,-1.335861
8,0,0,1,0,0,0,0,0,1,1,0,2.634855,1.495151,0.015291,Python;Git;PostgreSQL,-1.477548
9,0,0,1,0,1,0,0,0,0,1,0,0.614676,0.867022,-0.606175,Delphi;Java;SQL;Docker;Git;PostgreSQL,-1.052486

MinMaxing YearsCode, YearsCodePro, PreviousSalary, and ComputerSkill between -1 and 1

In [10]:
scaler = MinMaxScaler(feature_range=(-1, 1))

new_values_years_code = scaler.fit_transform(new_values_years_code)
new_values_years_pro = scaler.fit_transform(new_values_years_pro)
new_values_salary = scaler.fit_transform(new_values_salary)
new_values_skill = scaler.fit_transform(new_values_skill)

df_feature_x["YearsCode"] = new_values_years_code
df_feature_x["YearsCodePro"] = new_values_years_pro
df_feature_x["PreviousSalary"] = new_values_salary
df_feature_x["ComputerSkills"] = new_values_skill

df_feature_x.head(10)

,Age_<35,Age_>35,Accessibility_No,Accessibility_Yes,EdLevel_Master,EdLevel_NoHigherEd,EdLevel_Other,EdLevel_PhD,EdLevel_Undergraduate,MentalHealth_No,MentalHealth_Yes,YearsCode,YearsCodePro,PreviousSalary,HaveWorkedWith,ComputerSkills
0,1,1,1,0,1,0,0,0,0,1,0,-0.72,-0.84,-0.539721,C++;Python;Git;PostgreSQL,-0.925234
1,1,1,1,0,0,0,0,0,1,1,0,-0.52,-0.80,-0.584989,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,-0.775701
2,1,1,1,0,1,0,0,0,0,1,0,-0.40,-0.76,-0.309917,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,-0.869159
3,1,1,1,0,0,0,0,0,1,1,0,-0.64,-0.76,-0.588087,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,-0.757009
4,0,0,1,0,0,0,0,1,0,1,0,0.60,0.20,0.436890,C++;Python,-0.962617
5,1,1,1,0,1,0,0,0,0,1,0,-0.64,-0.92,-0.652552,JavaScript;Python;Docker;Git;MySQL,-0.906542
6,0,0,1,0,1,0,0,0,0,1,0,0.04,-0.28,-0.305086,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,-0.682243
7,1,1,1,0,1,0,0,0,0,1,0,-0.44,-0.80,-0.273943,C++;Python;Docker;Git,-0.925234
8,0,0,1,0,0,0,0,0,1,1,0,0.56,-0.16,-0.388337,Python;Git;PostgreSQL,-0.943925
9,0,0,1,0,1,0,0,0,0,1,0,-0.20,-0.36,-0.662936,Delphi;Java;SQL;Docker;Git;PostgreSQL,-0.887850

Terpaksa harus di drop dulu yang HaveWorkedWith

In [11]:
df_feature_x.drop(columns=["HaveWorkedWith"], inplace=True)
df_feature_x.head(10)

,Age_<35,Age_>35,Accessibility_No,Accessibility_Yes,EdLevel_Master,EdLevel_NoHigherEd,EdLevel_Other,EdLevel_PhD,EdLevel_Undergraduate,MentalHealth_No,MentalHealth_Yes,YearsCode,YearsCodePro,PreviousSalary,ComputerSkills
0,1,1,1,0,1,0,0,0,0,1,0,-0.72,-0.84,-0.539721,-0.925234
1,1,1,1,0,0,0,0,0,1,1,0,-0.52,-0.80,-0.584989,-0.775701
2,1,1,1,0,1,0,0,0,0,1,0,-0.40,-0.76,-0.309917,-0.869159
3,1,1,1,0,0,0,0,0,1,1,0,-0.64,-0.76,-0.588087,-0.757009
4,0,0,1,0,0,0,0,1,0,1,0,0.60,0.20,0.436890,-0.962617
5,1,1,1,0,1,0,0,0,0,1,0,-0.64,-0.92,-0.652552,-0.906542
6,0,0,1,0,1,0,0,0,0,1,0,0.04,-0.28,-0.305086,-0.682243
7,1,1,1,0,1,0,0,0,0,1,0,-0.44,-0.80,-0.273943,-0.925234
8,0,0,1,0,0,0,0,0,1,1,0,0.56,-0.16,-0.388337,-0.943925
9,0,0,1,0,1,0,0,0,0,1,0,-0.20,-0.36,-0.662936,-0.887850

Split data into train, validation, and test

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_, Y_train, Y_ = train_test_split(df_feature_x, df_feature_y, test_size=0.4, random_state=1)
X_valid, X_test, Y_valid, Y_test = train_test_split(X_, Y_, test_size=0.5, random_state=1)

print(f"Data before splitting: {len(df_feature_x)}")
print(f"Train data: {len(X_train)}")
print(f"Validation data: {len(X_valid)}")
print(f"Test data: {len(X_test)}")

Data before splitting: 73462
Train data: 44077
Validation data: 14692
Test data: 14693

Try to train the model using TensorFlow (Neural Network)

In [13]:
import tensorflow as tf
len_feature = len(df_feature_x.columns)

model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(len_feature,)),
    tf.keras.layers.Dense(128, activation="relu"),
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(32, activation="relu"),
    tf.keras.layers.Dense(1, activation="sigmoid")
])

model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3), 
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=["accuracy"])

history = model.fit(X_train.astype("float32"), Y_train.astype("float32"), epochs=100, validation_data=(X_valid.astype("float32"), Y_valid.astype("float32")))

Epoch 1/100

2023-10-20 19:21:50.231645: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.256639: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.256699: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.260007: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.260062: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.260089: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.950199: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.950297: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.950309: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1977] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2023-10-20 19:21:50.950328: I tensorflow/core/common_runtime/gpu/gpu_process_state.cc:236] Using CUDA malloc Async allocator for GPU: 0
2023-10-20 19:21:50.950573: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-20 19:21:50.950610: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1886] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 1592 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3050 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6
2023-10-20 19:21:52.964713: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7fa0f413c4d0 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2023-10-20 19:21:52.964773: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce RTX 3050 Laptop GPU, Compute Capability 8.6
2023-10-20 19:21:52.970774: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2023-10-20 19:21:53.150634: I tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:442] Loaded cuDNN version 8700
2023-10-20 19:21:53.233105: I ./tensorflow/compiler/jit/device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

1378/1378 [==============================] - 10s 5ms/step - loss: 0.4984 - accuracy: 0.7506 - val_loss: 0.4720 - val_accuracy: 0.7720
Epoch 2/100
1378/1378 [==============================] - 8s 5ms/step - loss: 0.4591 - accuracy: 0.7760 - val_loss: 0.4509 - val_accuracy: 0.7821
Epoch 3/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4571 - accuracy: 0.7771 - val_loss: 0.4570 - val_accuracy: 0.7721
Epoch 4/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4536 - accuracy: 0.7784 - val_loss: 0.4635 - val_accuracy: 0.7766
Epoch 5/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4523 - accuracy: 0.7789 - val_loss: 0.4474 - val_accuracy: 0.7778
Epoch 6/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4515 - accuracy: 0.7794 - val_loss: 0.4563 - val_accuracy: 0.7759
Epoch 7/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4508 - accuracy: 0.7788 - val_loss: 0.4515 - val_accuracy: 0.7808
Epoch 8/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4490 - accuracy: 0.7825 - val_loss: 0.4721 - val_accuracy: 0.7671
Epoch 9/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4485 - accuracy: 0.7810 - val_loss: 0.4487 - val_accuracy: 0.7812
Epoch 10/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4499 - accuracy: 0.7810 - val_loss: 0.4472 - val_accuracy: 0.7806
Epoch 11/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4478 - accuracy: 0.7822 - val_loss: 0.4481 - val_accuracy: 0.7789
Epoch 12/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4477 - accuracy: 0.7810 - val_loss: 0.4507 - val_accuracy: 0.7809
Epoch 13/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4467 - accuracy: 0.7807 - val_loss: 0.4496 - val_accuracy: 0.7804
Epoch 14/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4463 - accuracy: 0.7825 - val_loss: 0.4501 - val_accuracy: 0.7828
Epoch 15/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4462 - accuracy: 0.7814 - val_loss: 0.4465 - val_accuracy: 0.7821
Epoch 16/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4466 - accuracy: 0.7824 - val_loss: 0.4438 - val_accuracy: 0.7814
Epoch 17/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4448 - accuracy: 0.7827 - val_loss: 0.4540 - val_accuracy: 0.7776
Epoch 18/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4460 - accuracy: 0.7829 - val_loss: 0.4446 - val_accuracy: 0.7804
Epoch 19/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4447 - accuracy: 0.7832 - val_loss: 0.4446 - val_accuracy: 0.7838
Epoch 20/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4446 - accuracy: 0.7831 - val_loss: 0.4462 - val_accuracy: 0.7806
Epoch 21/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4449 - accuracy: 0.7842 - val_loss: 0.4470 - val_accuracy: 0.7823
Epoch 22/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4438 - accuracy: 0.7834 - val_loss: 0.4481 - val_accuracy: 0.7806
Epoch 23/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4437 - accuracy: 0.7828 - val_loss: 0.4455 - val_accuracy: 0.7840
Epoch 24/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4435 - accuracy: 0.7831 - val_loss: 0.4462 - val_accuracy: 0.7817
Epoch 25/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4434 - accuracy: 0.7834 - val_loss: 0.4513 - val_accuracy: 0.7803
Epoch 26/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4430 - accuracy: 0.7825 - val_loss: 0.4467 - val_accuracy: 0.7834
Epoch 27/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4446 - accuracy: 0.7836 - val_loss: 0.4477 - val_accuracy: 0.7825
Epoch 28/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4427 - accuracy: 0.7837 - val_loss: 0.4543 - val_accuracy: 0.7778
Epoch 29/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4421 - accuracy: 0.7853 - val_loss: 0.4473 - val_accuracy: 0.7823
Epoch 30/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4430 - accuracy: 0.7820 - val_loss: 0.4528 - val_accuracy: 0.7776
Epoch 31/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4422 - accuracy: 0.7837 - val_loss: 0.4477 - val_accuracy: 0.7819
Epoch 32/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4419 - accuracy: 0.7837 - val_loss: 0.4448 - val_accuracy: 0.7830
Epoch 33/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4426 - accuracy: 0.7838 - val_loss: 0.4466 - val_accuracy: 0.7831
Epoch 34/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4420 - accuracy: 0.7840 - val_loss: 0.4486 - val_accuracy: 0.7817
Epoch 35/100
1378/1378 [==============================] - 8s 5ms/step - loss: 0.4420 - accuracy: 0.7831 - val_loss: 0.4554 - val_accuracy: 0.7790
Epoch 36/100
1378/1378 [==============================] - 8s 5ms/step - loss: 0.4416 - accuracy: 0.7843 - val_loss: 0.4465 - val_accuracy: 0.7844
Epoch 37/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4410 - accuracy: 0.7828 - val_loss: 0.4466 - val_accuracy: 0.7837
Epoch 38/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4410 - accuracy: 0.7853 - val_loss: 0.4465 - val_accuracy: 0.7833
Epoch 39/100
1378/1378 [==============================] - 9s 6ms/step - loss: 0.4407 - accuracy: 0.7842 - val_loss: 0.4513 - val_accuracy: 0.7780
Epoch 40/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4414 - accuracy: 0.7841 - val_loss: 0.4515 - val_accuracy: 0.7785
Epoch 41/100
1378/1378 [==============================] - 9s 7ms/step - loss: 0.4405 - accuracy: 0.7852 - val_loss: 0.4497 - val_accuracy: 0.7807
Epoch 42/100
1378/1378 [==============================] - 9s 7ms/step - loss: 0.4402 - accuracy: 0.7869 - val_loss: 0.4731 - val_accuracy: 0.7703
Epoch 43/100
1378/1378 [==============================] - 9s 7ms/step - loss: 0.4401 - accuracy: 0.7847 - val_loss: 0.4480 - val_accuracy: 0.7814
Epoch 44/100
1378/1378 [==============================] - 10s 7ms/step - loss: 0.4400 - accuracy: 0.7850 - val_loss: 0.4465 - val_accuracy: 0.7829
Epoch 45/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4401 - accuracy: 0.7851 - val_loss: 0.4485 - val_accuracy: 0.7814
Epoch 46/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4397 - accuracy: 0.7847 - val_loss: 0.4514 - val_accuracy: 0.7793
Epoch 47/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4399 - accuracy: 0.7866 - val_loss: 0.4477 - val_accuracy: 0.7834
Epoch 48/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4388 - accuracy: 0.7842 - val_loss: 0.4497 - val_accuracy: 0.7825
Epoch 49/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4387 - accuracy: 0.7861 - val_loss: 0.4540 - val_accuracy: 0.7803
Epoch 50/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4387 - accuracy: 0.7863 - val_loss: 0.4521 - val_accuracy: 0.7817
Epoch 51/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4388 - accuracy: 0.7863 - val_loss: 0.4507 - val_accuracy: 0.7807
Epoch 52/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4383 - accuracy: 0.7846 - val_loss: 0.4634 - val_accuracy: 0.7727
Epoch 53/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4391 - accuracy: 0.7854 - val_loss: 0.4469 - val_accuracy: 0.7814
Epoch 54/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4378 - accuracy: 0.7858 - val_loss: 0.4535 - val_accuracy: 0.7804
Epoch 55/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4377 - accuracy: 0.7857 - val_loss: 0.4497 - val_accuracy: 0.7810
Epoch 56/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4368 - accuracy: 0.7859 - val_loss: 0.4529 - val_accuracy: 0.7814
Epoch 57/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4382 - accuracy: 0.7867 - val_loss: 0.4504 - val_accuracy: 0.7844
Epoch 58/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4376 - accuracy: 0.7859 - val_loss: 0.4525 - val_accuracy: 0.7822
Epoch 59/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4375 - accuracy: 0.7857 - val_loss: 0.4553 - val_accuracy: 0.7804
Epoch 60/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4370 - accuracy: 0.7867 - val_loss: 0.4577 - val_accuracy: 0.7785
Epoch 61/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4366 - accuracy: 0.7861 - val_loss: 0.4508 - val_accuracy: 0.7823
Epoch 62/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4364 - accuracy: 0.7864 - val_loss: 0.4509 - val_accuracy: 0.7805
Epoch 63/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4370 - accuracy: 0.7857 - val_loss: 0.4529 - val_accuracy: 0.7831
Epoch 64/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4361 - accuracy: 0.7866 - val_loss: 0.4638 - val_accuracy: 0.7760
Epoch 65/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4364 - accuracy: 0.7869 - val_loss: 0.4536 - val_accuracy: 0.7818
Epoch 66/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4360 - accuracy: 0.7872 - val_loss: 0.4568 - val_accuracy: 0.7825
Epoch 67/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4354 - accuracy: 0.7873 - val_loss: 0.4581 - val_accuracy: 0.7788
Epoch 68/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4358 - accuracy: 0.7868 - val_loss: 0.4553 - val_accuracy: 0.7828
Epoch 69/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4349 - accuracy: 0.7870 - val_loss: 0.4569 - val_accuracy: 0.7785
Epoch 70/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4346 - accuracy: 0.7870 - val_loss: 0.4575 - val_accuracy: 0.7819
Epoch 71/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4353 - accuracy: 0.7861 - val_loss: 0.4517 - val_accuracy: 0.7826
Epoch 72/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4344 - accuracy: 0.7868 - val_loss: 0.4597 - val_accuracy: 0.7788
Epoch 73/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4344 - accuracy: 0.7877 - val_loss: 0.4585 - val_accuracy: 0.7808
Epoch 74/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4342 - accuracy: 0.7884 - val_loss: 0.4601 - val_accuracy: 0.7793
Epoch 75/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4337 - accuracy: 0.7890 - val_loss: 0.4554 - val_accuracy: 0.7819
Epoch 76/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4344 - accuracy: 0.7880 - val_loss: 0.4549 - val_accuracy: 0.7825
Epoch 77/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4335 - accuracy: 0.7880 - val_loss: 0.4594 - val_accuracy: 0.7810
Epoch 78/100
1378/1378 [==============================] - 8s 5ms/step - loss: 0.4341 - accuracy: 0.7873 - val_loss: 0.4560 - val_accuracy: 0.7825
Epoch 79/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4333 - accuracy: 0.7869 - val_loss: 0.4617 - val_accuracy: 0.7783
Epoch 80/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4329 - accuracy: 0.7883 - val_loss: 0.4587 - val_accuracy: 0.7826
Epoch 81/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4329 - accuracy: 0.7878 - val_loss: 0.4568 - val_accuracy: 0.7808
Epoch 82/100
1378/1378 [==============================] - 7s 5ms/step - loss: 0.4331 - accuracy: 0.7884 - val_loss: 0.4573 - val_accuracy: 0.7812
Epoch 83/100
1378/1378 [==============================] - 8s 5ms/step - loss: 0.4332 - accuracy: 0.7887 - val_loss: 0.4543 - val_accuracy: 0.7816
Epoch 84/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4320 - accuracy: 0.7878 - val_loss: 0.4580 - val_accuracy: 0.7800
Epoch 85/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4325 - accuracy: 0.7877 - val_loss: 0.4585 - val_accuracy: 0.7809
Epoch 86/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4321 - accuracy: 0.7882 - val_loss: 0.4583 - val_accuracy: 0.7817
Epoch 87/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4319 - accuracy: 0.7879 - val_loss: 0.4585 - val_accuracy: 0.7791
Epoch 88/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4314 - accuracy: 0.7883 - val_loss: 0.4624 - val_accuracy: 0.7800
Epoch 89/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4320 - accuracy: 0.7878 - val_loss: 0.4664 - val_accuracy: 0.7812
Epoch 90/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4321 - accuracy: 0.7872 - val_loss: 0.4603 - val_accuracy: 0.7830
Epoch 91/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4318 - accuracy: 0.7878 - val_loss: 0.4565 - val_accuracy: 0.7829
Epoch 92/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4308 - accuracy: 0.7893 - val_loss: 0.4661 - val_accuracy: 0.7779
Epoch 93/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4310 - accuracy: 0.7890 - val_loss: 0.4604 - val_accuracy: 0.7809
Epoch 94/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4306 - accuracy: 0.7886 - val_loss: 0.4633 - val_accuracy: 0.7820
Epoch 95/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4310 - accuracy: 0.7889 - val_loss: 0.4637 - val_accuracy: 0.7802
Epoch 96/100
1378/1378 [==============================] - 8s 5ms/step - loss: 0.4300 - accuracy: 0.7900 - val_loss: 0.4630 - val_accuracy: 0.7805
Epoch 97/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4304 - accuracy: 0.7892 - val_loss: 0.4608 - val_accuracy: 0.7808
Epoch 98/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4299 - accuracy: 0.7891 - val_loss: 0.4604 - val_accuracy: 0.7800
Epoch 99/100
1378/1378 [==============================] - 8s 6ms/step - loss: 0.4301 - accuracy: 0.7891 - val_loss: 0.4628 - val_accuracy: 0.7803
Epoch 100/100
1378/1378 [==============================] - 9s 7ms/step - loss: 0.4300 - accuracy: 0.7882 - val_loss: 0.4640 - val_accuracy: 0.7836