In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('stream_classify.csv')

#Tidak pakek ID dan gender
df = df.drop(columns=['ID'])
df = df.drop(columns=['JSKR_LINKAGE_KEY'])
df = df.drop(columns=['INDIGENOUS'])
df = df.drop(columns=['EX_OFFENDER'])


# AGE_GROUP : 
# ['50 to 54 years' '25 to 29 years' '30 to 39 years' 'Under 22 years'
#  '22 to 24 years' '40 to 49 years' '55 to 59 years' '60+ years' nan]

#dictionary ordinal termuda sampe tertua
age_group_mapping = {
    'Under 22 years': 1,
    '22 to 24 years': 2,
    '25 to 29 years': 3,
    '30 to 39 years': 4,
    '40 to 49 years': 5,
    '50 to 54 years': 6,
    '55 to 59 years': 7,
    '60+ years': 8
}

# UE_GROUP : 
# ['Under 12 Months' '24 to 59 Months' '60+ Months' '12 to 23 Months' nan]
# Map the values in the 'AGE_GROUP' column

#dictionary ordinal termuda sampe tertua
ue_group_mapping = {
  'Under 12 Months': 1,
  '12 to 23 Months' : 2,
  '24 to 59 Months': 3,
  '60+ Months' : 4
}

# EDUCATION_ADJ : 
# ['Degree' 'Diploma' '<Year 10' 'Year 10/11'
#  'Non-trade vocational education' 'Year 12/13' 'Grad Diploma/Cert'
#  'No schooling' 'Trade/TAFE' 'Post-graduate' 'UKN' nan 'Special Education'
#  'Ed Quals-Not volunteered']

#ini dictionary dari education terendah sampe tinggi (ordinal), aku nyari menurut google ae sih ini wkkwk.
education_mapping = {
    'No schooling': 1,
    '<Year 10': 2,
    'Year 10/11': 3,
    'Non-trade vocational education': 4,
    'Diploma': 5,
    'Trade/TAFE': 6,
    'Year 12/13': 7,
    'Grad Diploma/Cert': 8,
    'Degree': 9,
    'Post-graduate': 10,
    'Special Education': 11,
    'Ed Quals-Not volunteered': 12,
    'UKN': 13
}

#STREAM A DAN B DIGABUNG
stream_placement_desc_mapping = {
  'Stream A': 1,
  'Stream B': 1,
  'Stream C': 2
}

gender_mapping = {
  'Male':1,
  'Female':2
}
df['AGE_GROUP'] = df['AGE_GROUP'].map(age_group_mapping)
df['UE_GROUP'] = df['UE_GROUP'].map(ue_group_mapping)
df['EDUCATION_ADJ'] = df['EDUCATION_ADJ'].map(education_mapping)
df['STREAM_PLACEMENT_DESC'] = df['STREAM_PLACEMENT_DESC'].map(stream_placement_desc_mapping)
df['GENDER'] = df['GENDER'].map(gender_mapping)

df.head(20)

,STREAM_PLACEMENT_DESC,GENDER,HOMELESS,PWD,CALD,REFUGEE,AGE_GROUP,UE_GROUP,EDUCATION_ADJ
0,1,2,0,0,1,0,6,1,9
1,2,2,1,0,0,0,3,3,5
2,2,1,0,1,0,0,4,4,2
3,2,2,1,1,0,0,4,3,3
4,1,2,0,0,0,0,1,1,3
5,2,1,0,1,0,0,2,4,4
6,1,2,0,0,0,0,3,1,4
7,2,1,1,1,0,0,3,4,2
8,2,1,0,1,0,0,5,2,3
9,1,1,0,1,0,0,4,2,7
10,1,1,0,1,0,0,5,2,7
11,2,2,0,1,0,0,5,4,2
12,1,1,0,0,0,0,4,1,2
13,2,1,0,1,0,0,4,1,8
14,1,2,1,1,1,0,4,3,4
15,2,2,0,1,1,1,4,3,1
16,2,1,0,0,0,0,2,3,2
17,2,1,0,1,0,0,4,4,3
18,1,1,0,0,0,0,7,1,3
19,1,2,0,0,1,1,4,1,7

In [6]:
#ini jangan dijalankan lagi

#Saving mapped dataset to csv
df.to_csv("stream_classify_preprocessing.csv")