In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = "cleaned_jobactive.zip"
df = pd.read_csv(filename, compression="zip")
df.head(5)

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,year,month,year_month,EDUCATION_ADJ,EF_CATEGORY_ADJ
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,Jan 2016,Degree,Prof Service
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2015,12,Dec 2015,Degree,Prof Service
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,Jan 2016,Degree,Prof Service
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,2,Feb 2016,Degree,Prof Service
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,2,Feb 2016,Diploma,Prof Service

In [7]:
for col in df.columns:
    print(col + " : ")
    print(df[col].unique())
    print()

DATA_AS_AT :
['2018-08-05']

TRANSACTION_ID :
['303887J' '283232J' '412011J' ... '1360007J' '278868J' '279180J']

EXPENDITURE :
[150.   300.   225.   ... 648.31 538.2   84.34]

STATE :
['QLD' 'VIC' 'SA ' 'NSW' 'WA ' 'TAS' 'ACT' 'NT ']

JSKR_LINKAGE_KEY :
[     1      2      7 ... 912595 912599 912603]

STREAM_PLACEMENT_DESC :
['Stream A' 'Stream C' 'Stream B' 'Stream Volunteer' nan]

EF_CATEGORY_DESCRIPTION :
['Professional Services' 'Food, Phone and Petrol Cards/Vouchers'
 'Job Seeker Transport' 'Work Related Items' 'Accredited Training'
 'Clothing and Presentation' 'Work Related Licencing'
 'Accredited Interpreter Services' 'Targeted Pre-Employment Preparation'
 'Tools, Books, Equipment and Mobile Phones'
 'Rent and Crisis Accommodation ' 'Stream C only Assistance'
 'Driving Lessons' 'Medical Expenses'
 'Non-government Programmes - DEPT approved'
 'Employer Required Training (non-accredited)' 'Post Placement Support'
 'Non-WfD Activity Costs' 'Work Trials' 'Relocation Assistance'
 'PaTH Internship Placement Costs']

DERIVED_DATE_OF_SERVICE :
['2016-01-04' '2015-12-21' '2016-01-11' '2016-02-08' '2016-02-18'
 '2016-02-26' '2016-03-01' '2016-08-30' '2016-10-04' '2016-09-21'
 '2017-02-15' '2017-05-29' '2016-08-24' '2016-06-08' '2016-08-29'
 '2016-07-31' '2016-12-06' '2016-12-20' '2017-04-18' '2017-05-26'
 '2017-01-03' '2017-02-27' '2016-07-06' '2016-08-03' '2016-06-22'
 '2016-06-01' '2016-06-07' '2016-05-17' '2016-04-26' '2016-05-10'
 '2016-08-17' '2016-01-06' '2016-06-24' '2016-06-10' '2016-06-30'
 '2016-10-24' '2016-10-14' '2016-09-30' '2016-11-04' '2016-11-11'
 '2016-11-22' '2016-05-04' '2017-01-24' '2015-08-11' '2015-09-22'
 '2016-06-23' '2017-04-20' '2017-05-04' '2017-05-23' '2017-06-01'
 '2016-10-10' '2017-05-18' '2017-06-23' '2017-06-21' '2017-06-19'
 '2017-05-08' '2016-07-13' '2015-12-04' '2016-06-17' '2016-02-19'
 '2016-03-03' '2016-04-01' '2016-12-13' '2016-01-15' '2015-10-27'
 '2016-02-23' '2017-04-06' '2016-07-26' '2017-05-11' '2016-09-12'
 '2017-04-21' '2016-12-09' '2016-10-18' '2016-05-23' '2016-05-25'
 '2016-07-12' '2016-09-26' '2016-08-23' '2016-01-14' '2015-09-25'
 '2015-08-06' '2016-08-19' '2016-12-01' '2016-11-24' '2016-11-01'
 '2016-05-19' '2017-02-28' '2016-03-29' '2016-04-22' '2015-07-01'
 '2015-10-01' '2016-08-22' '2016-07-25' '2016-08-08' '2016-07-11'
 '2016-02-09' '2017-03-17' '2016-05-03' '2015-10-22' '2015-11-25'
 '2016-01-21' '2016-02-10' '2015-12-10' '2016-02-03' '2016-01-18'
 '2015-12-14' '2016-02-22' '2016-03-02' '2017-01-17' '2016-01-08'
 '2015-09-09' '2015-08-14' '2015-10-13' '2016-09-15' '2017-03-31'
 '2016-11-10' '2017-01-16' '2017-05-03' '2016-06-27' '2016-03-17'
 '2016-03-31' '2016-07-28' '2016-09-14' '2015-07-31' '2016-05-18'
 '2015-11-10' '2016-11-17' '2016-12-12' '2017-02-05' '2016-07-18'
 '2016-07-04' '2016-06-20' '2016-05-16' '2017-05-16' '2017-03-10'
 '2017-01-20' '2017-03-24' '2017-04-11' '2017-05-01' '2017-05-31'
 '2017-03-27' '2017-01-31' '2015-11-12' '2015-10-19' '2015-10-20'
 '2015-07-24' '2015-10-21' '2017-01-10' '2017-02-20' '2017-04-27'
 '2017-05-19' '2017-05-17' '2016-05-31' '2016-08-09' '2016-09-06'
 '2016-11-14' '2017-02-14' '2017-02-01' '2017-02-06' '2015-09-03'
 '2015-12-03' '2015-08-07' '2017-06-26' '2015-09-11' '2015-12-11'
 '2016-01-12' '2015-10-09' '2016-02-02' '2017-05-05' '2017-05-10'
 '2017-02-24' '2017-02-13' '2016-09-25' '2016-09-01' '2016-11-03'
 '2016-11-30' '2016-09-05' '2016-12-05' '2017-03-06' '2017-04-03'
 '2015-12-07' '2016-08-18' '2015-10-30' '2015-09-04' '2015-09-18'
 '2015-09-28' '2016-02-01' '2016-01-20' '2015-12-29' '2015-12-15'
 '2017-06-09' '2016-12-15' '2016-03-15' '2017-05-22' '2016-03-16'
 '2016-08-12' '2016-09-02' '2016-06-21' '2017-02-16' '2017-03-01'
 '2017-01-23' '2017-01-09' '2017-03-02' '2017-04-26' '2017-02-17'
 '2017-03-28' '2017-02-08' '2016-08-04' '2016-11-18' '2017-02-09'
 '2016-12-07' '2015-12-17' '2017-01-18' '2017-04-13' '2017-03-30'
 '2017-06-22' '2016-02-16' '2016-08-05' '2015-07-27' '2017-02-22'
 '2017-01-11' '2016-02-05' '2015-11-02' '2015-11-16' '2017-03-21'
 '2016-12-14' '2016-11-21' '2016-11-09' '2016-07-07' '2016-07-14'
 '2016-07-21' '2015-11-30' '2017-06-28' '2016-08-10' '2015-10-23'
 '2016-07-29' '2017-02-10' '2017-03-03' '2017-01-25' '2016-10-22'
 '2017-06-15' '2015-09-07' '2015-09-08' '2015-11-20' '2015-11-13'
 '2015-11-06' '2015-11-27' '2015-10-16' '2015-10-02' '2016-10-19'
 '2016-10-27' '2017-06-16' '2017-04-04' '2017-04-19' '2017-03-22'
 '2017-03-14' '2017-03-29' '2017-03-15' '2016-11-29' '2017-03-13'
 '2017-01-06' '2015-09-16' '2015-10-26' '2016-02-11' '2016-08-01'
 '2017-02-02' '2017-01-30' '2016-04-18' '2017-01-27' '2016-02-12'
 '2016-03-18' '2016-04-06' '2016-05-05' '2016-09-20' '2016-04-19'
 '2016-03-07' '2016-09-28' '2016-12-19' '2016-11-25' '2016-10-12'
 '2017-05-09' '2015-10-07' '2015-10-29' '2015-09-15' '2016-02-24'
 '2016-01-25' '2016-01-28' '2015-09-17' '2015-11-09' '2016-09-19'
 '2016-09-13' '2017-01-13' '2016-10-17' '2016-09-07' '2016-09-22'
 '2016-08-31' '2017-03-07' '2016-09-27' '2016-11-16' '2016-10-05'
 '2015-07-09' '2016-07-15' '2015-12-22' '2016-09-16' '2016-05-24'
 '2015-11-11' '2017-04-07' '2016-08-11' '2016-05-11' '2016-12-18'
 '2016-12-16' '2016-11-15' '2015-09-29' '2016-02-25' '2016-02-04'
 '2016-03-09' '2016-04-28' '2015-12-16' '2015-11-17' '2015-11-24'
 '2016-06-14' '2016-05-02' '2017-02-21' '2017-06-13' '2017-02-04'
 '2016-04-20' '2016-11-02' '2015-09-23' '2015-09-30' '2016-02-17'
 '2017-05-12' '2017-05-24' '2016-10-28' '2017-01-08' '2017-04-10'
 '2017-05-25' '2015-08-10' '2015-07-29' '2016-02-29' '2015-11-04'
 '2015-11-18' '2015-12-02' '2015-07-02' '2015-08-17' '2015-10-06'
 '2016-10-06' '2016-07-01' '2015-10-15' '2016-09-29' '2017-06-05'
 '2017-06-02' '2016-04-11' '2016-04-21' '2016-06-16' '2016-05-20'
 '2015-11-05' '2016-04-13' '2017-02-07' '2017-04-30' '2016-07-27'
 '2016-08-25' '2016-05-26' '2015-08-24' '2016-03-21' '2016-12-23'
 '2016-05-06' '2016-04-29' '2016-05-13' '2016-03-24' '2016-04-15'
 '2015-10-05' '2016-11-08' '2016-07-19' '2016-12-21' '2017-02-23'
 '2016-06-06' '2015-12-01' '2016-05-12' '2015-08-04' '2016-01-19'
 '2016-03-22' '2015-12-08' '2017-05-15' '2015-08-12' '2016-05-27'
 '2016-06-03' '2016-03-11' '2017-04-01' '2016-05-30' '2017-03-16'
 '2016-08-27' '2015-08-18' '2016-08-15' '2016-05-09' '2016-04-08'
 '2016-04-04' '2016-04-07' '2016-04-14' '2016-11-28' '2016-03-04'
 '2017-01-12' '2016-05-21' '2015-10-12' '2017-01-26' '2017-04-28'
 '2017-01-05' '2016-01-22' '2017-01-19' '2017-06-20' '2017-04-12'
 '2016-07-16' '2016-06-13' '2016-03-30' '2017-04-05' '2016-10-25'
 '2016-10-11' '2017-04-24' '2017-04-17' '2016-12-22' '2016-01-29'
 '2015-10-14' '2016-07-05' '2017-03-23' '2016-10-26' '2016-04-27'
 '2016-07-20' '2015-07-13' '2015-07-28' '2015-08-31' '2016-06-09'
 '2015-11-19' '2015-11-01' '2016-12-08' '2015-07-03' '2015-08-03'
 '2015-07-06' '2015-07-07' '2017-03-09' '2015-10-08' '2015-11-26'
 '2017-03-08' '2016-01-13' '2015-12-24' '2017-06-14' '2016-11-23'
 '2016-09-09' '2015-08-13' '2017-02-12' '2016-06-02' '2016-09-08'
 '2015-08-27' '2016-08-16' '2016-08-02' '2016-12-02' '2016-10-20'
 '2015-08-26' '2015-12-18' '2016-10-03' '2015-07-14' '2017-05-30'
 '2016-08-26' '2015-12-09' '2016-10-16' '2016-04-05' '2016-06-28'
 '2016-05-14' '2015-09-14' '2015-11-03' '2016-06-15' '2016-10-21'
 '2016-03-14' '2015-11-23' '2017-02-03' '2015-10-25' '2017-03-20'
 '2016-10-07' '2017-06-06' '2017-06-07' '2015-08-19' '2016-01-27'
 '2016-04-12' '2015-07-10' '2016-06-29' '2016-01-23' '2016-10-13'
 '2017-05-02' '2016-10-31' '2015-08-25' '2016-03-23' '2015-09-24'
 '2015-08-15' '2016-11-07' '2017-06-27' '2015-09-21' '2016-07-08'
 '2017-06-08' '2016-10-01' '2017-06-29' '2017-06-12' '2015-08-21'
 '2015-10-28' '2015-07-20' '2016-07-30' '2015-08-28' '2016-07-22'
 '2016-03-10' '2017-01-04' '2015-09-13' '2015-12-23' '2015-07-16'
 '2016-06-26' '2015-07-15' '2015-09-01' '2017-04-14' '2016-03-08'
 '2016-01-05' '2016-02-15' '2015-07-22' '2017-04-09' '2017-03-11'
 '2016-10-29' '2016-10-15' '2015-09-19' '2015-07-23' '2015-07-17'
 '2017-02-25' '2016-02-06' '2015-12-31' '2016-09-23' '2017-02-19'
 '2017-03-26' '2016-12-11' '2015-07-30' '2015-09-02' '2015-08-05'
 '2015-09-10' '2016-09-04' '2017-06-30' '2015-09-05' '2016-08-07'
 '2015-08-20' '2017-03-04' '2016-12-29' '2015-07-08' '2016-12-28'
 '2016-04-10' '2015-07-21' '2016-01-01' '2017-05-07' '2016-01-07'
 '2016-12-10' '2015-07-05' '2017-05-06' '2017-03-19' '2016-01-17'
 '2016-07-23' '2016-05-01' '2017-05-13' '2017-02-18' '2017-06-25'
 '2016-10-23' '2016-11-20' '2016-12-30' '2016-08-14' '2017-05-21'
 '2015-11-21' '2017-03-25' '2017-04-23' '2016-04-23' '2015-08-01'
 '2017-01-21' '2017-06-10' '2015-10-17' '2015-09-27' '2016-09-10'
 '2016-06-18' '2015-10-24' '2016-06-12' '2017-06-11' '2015-08-08'
 '2015-09-26' '2016-04-02' '2017-01-15' '2017-04-29' '2016-04-16'
 '2016-03-20' '2016-12-17' '2016-09-24' '2017-03-18' '2016-10-09'
 '2016-11-06' '2015-09-20' '2016-07-24' '2016-07-09' '2015-09-12'
 '2017-05-14' '2016-01-31' '2016-09-03' '2015-08-16' '2017-04-16'
 '2016-04-03' '2015-08-30' '2016-11-13' '2016-02-27' '2017-01-14'
 '2017-01-22' '2016-11-12' '2016-01-24' '2016-11-26' '2016-05-07'
 '2016-05-22' '2015-09-06' '2017-06-24' '2017-04-15' '2017-01-07'
 '2016-03-25' '2015-12-30' '2017-05-20' '2017-04-22' '2016-06-19'
 '2016-06-25' '2015-07-18' '2016-01-16' '2017-04-25' '2015-08-23'
 '2015-11-07' '2016-12-31' '2015-10-31' '2015-08-09' '2016-03-05'
 '2016-02-21' '2015-11-28' '2017-01-02' '2017-06-18' '2015-07-12'
 '2016-12-03' '2017-04-08' '2016-03-28' '2017-06-04' '2015-08-02'
 '2015-12-25' '2015-12-05' '2015-12-12' '2016-01-03' '2016-08-20'
 '2017-03-05' '2015-07-26' '2017-01-28' '2016-03-12' '2016-02-13'
 '2015-12-19' '2016-05-28' '2017-06-17' '2016-03-06' '2016-03-19'
 '2016-02-28' '2016-07-02' '2016-11-19' '2016-03-27' '2015-07-19'
 '2016-01-30' '2016-10-30' '2016-02-07' '2016-05-29' '2015-12-28'
 '2016-11-05' '2016-04-24' '2016-04-30' '2015-11-22' '2016-09-17'
 '2016-05-15' '2016-06-04' '2016-04-17' '2016-10-02' '2016-12-04'
 '2016-03-13' '2016-07-03' '2016-06-05' '2016-08-13' '2015-07-25'
 '2015-10-11' '2017-05-28' '2016-05-08' '2015-11-29' '2015-07-11'
 '2015-11-08' '2017-05-27' '2017-02-26' '2015-12-06' '2016-08-21'
 '2016-04-09' '2016-12-24' '2016-10-08' '2016-04-25' '2017-01-01'
 '2016-09-11' '2017-02-11' '2016-03-26' '2015-12-20' '2016-01-09'
 '2017-04-02' '2015-12-26' '2015-08-29' '2016-01-26' '2015-11-15'
 '2016-02-20' '2016-07-10' '2015-08-22' '2016-09-18' '2017-03-12'
 '2015-10-03' '2015-12-27' '2016-07-17' '2015-10-10' '2015-10-04'
 '2016-06-11' '2015-11-14' '2016-08-28' '2016-11-27' '2017-06-03'
 '2016-08-06' '2015-10-18' '2016-12-25' '2016-02-14' '2016-01-10'
 '2015-07-04' '2016-01-02' '2017-01-29' '2016-12-27' '2015-12-13'
 '2016-12-26']

ACTIVITY_TYPE_DESC :
[nan 'Accredited Education and Training (Vocational)'
 'Non-Accredited Education and Training (Vocational)'
 'Other Government Programmes'
 'Voluntary Work in community/non profit sector'
 'Non Vocational Assistance' 'Work for the Dole']

ACTIVITY_SUB_DESC :
[nan 'Certificate 3' 'Pre-Employment Training' 'Accredited Units'
 'Employability Skills' 'Certificate 2' 'Accredited Skill Set'
 'Cwth Adult Migrant English Programme' 'Certificate 1 - LLN'
 'Certificate 1' 'Certificate 4' 'Accredited Units - LLN' 'Diploma'
 'Certificate 3 - LLN' 'Certificate 2 - LLN' 'Personal Development'
 'Secondary School' 'Advanced Diploma' 'Other Government Programmes'
 'Skills for Education and Employment'
 'Vocational, Training and Employment Centres' 'Other'
 'Interpersonal Skills (non-vocational)' 'Bachelor Degree'
 'University (6 mths or 1 semester remaining)' 'Certificate 4 - LLN'
 'Associate Degree' 'General' 'Postgraduate Certificate'
 'Postgraduate Diploma' 'Master Degree']

EDUCATION_LEVEL_DESC :
['Bachelor Degree or equivalent' 'Diploma or equivalent'
 'Primary school or less than Year 10' 'Year 10/11'
 'Non-trade vocational education'
 'Secondary schooling completed (Year 12/13)'
 'Graduate Certificate or equivalent' 'Did not go to school'
 'Trades qualification' 'Post-graduate' 'Graduate Diploma or equivalent'
 'UKN' 'Trade or TAFE qualification' nan
 'Special school or special support unit'
 'Ed Quals-Secondary Schooling Completed' 'Degree'
 'Ed Quals-Less than Year 10' 'Ed Quals-Year 10 Completed' 'Diploma'
 'Ed Quals-Degree' 'Ed Quals-Trade/TAFE qualification'
 'Ed Quals-Primary School Comp' 'Ed Quals-Year 11 Completed'
 'Ed Quals-Associate Diploma' 'Ed Quals-Job seeker did not go to school'
 'Ed Quals-Post Graduate' 'Ed Quals-Not volunteered']

GENDER :
['Female' 'Male' 'Unknown']

INDIGENOUS :
[nan  1.]

HOMELESS :
[nan  1.]

PWD :
[nan  1.]

CALD :
[ 1. nan]

REFUGEE :
[nan  1.]

EX_OFFENDER :
[nan  1.]

AGE_GROUP :
['50 to 54 years' '25 to 29 years' '30 to 39 years' 'Under 22 years'
 '22 to 24 years' '40 to 49 years' '55 to 59 years' '60+ years' nan]

UE_GROUP :
['Under 12 Months' '24 to 59 Months' '60+ Months' '12 to 23 Months' nan]

year :
[2016 2015 2017]

month :
[ 1 12  2  3  8 10  9  5  6  7  4 11]

year_month :
['Jan 2016' 'Dec 2015' 'Feb 2016' 'Mar 2016' 'Aug 2016' 'Oct 2016'
 'Sep 2016' 'Feb 2017' 'May 2017' 'Jun 2016' 'Jul 2016' 'Dec 2016'
 'Apr 2017' 'Jan 2017' 'May 2016' 'Apr 2016' 'Nov 2016' 'Aug 2015'
 'Sep 2015' 'Jun 2017' 'Oct 2015' 'Jul 2015' 'Mar 2017' 'Nov 2015']

EDUCATION_ADJ :
['Degree' 'Diploma' '<Year 10' 'Year 10/11'
 'Non-trade vocational education' 'Year 12/13' 'Grad Diploma/Cert'
 'No schooling' 'Trade/TAFE' 'Post-graduate' 'UKN' nan 'Special Education'
 'Ed Quals-Not volunteered']

EF_CATEGORY_ADJ :
['Prof Service' 'Cash Cards/Vouchers' 'Transport' 'Work Items'
 'Accredited Training' 'Clothing' 'Work Licensing' 'Interpreter'
 'Pre-Employ Prep' 'Other Items' 'Accom' 'Stream C Assist'
 'Driving Lessons' 'Medical Expenses' 'Non-govern Program'
 'Non-Accredited Training' 'Post Placement Support' 'Non-WfD Costs'
 'Work Trials' 'Relocation' 'PaTH Internship Costs']

In [8]:
col_fill={'CALD':0, 'INDIGENOUS':0, 'HOMELESS':0, 'PWD':0, 'REFUGEE':0, 'EX_OFFENDER':0}
df.fillna(col_fill,inplace=True)
df.head()

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,year,month,year_month,EDUCATION_ADJ,EF_CATEGORY_ADJ
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NaN,NaN,...,1.0,0.0,0.0,50 to 54 years,Under 12 Months,2016,1,Jan 2016,Degree,Prof Service
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NaN,NaN,...,1.0,0.0,0.0,50 to 54 years,Under 12 Months,2015,12,Dec 2015,Degree,Prof Service
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NaN,NaN,...,1.0,0.0,0.0,50 to 54 years,Under 12 Months,2016,1,Jan 2016,Degree,Prof Service
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NaN,NaN,...,1.0,0.0,0.0,50 to 54 years,Under 12 Months,2016,2,Feb 2016,Degree,Prof Service
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,...,0.0,0.0,0.0,25 to 29 years,24 to 59 Months,2016,2,Feb 2016,Diploma,Prof Service

In [9]:
col_drop=['year', 'month', 'year_month', 'TRANSACTION_ID', 'DATA_AS_AT', 'STATE',"ACTIVITY_TYPE_DESC", 
          "ACTIVITY_SUB_DESC", "DERIVED_DATE_OF_SERVICE", "EDUCATION_LEVEL_DESC"]
df.drop(col_drop, inplace=True, axis=1)
df.dropna(axis=0, inplace=True)
col_drop2=["EF_CATEGORY_DESCRIPTION", "EF_CATEGORY_ADJ", "EXPENDITURE"]
df.drop(col_drop2, inplace=True, axis=1)
df=df.astype({'INDIGENOUS':'int', 'HOMELESS':'int', 'PWD':'int', 'REFUGEE':'int', 'EX_OFFENDER':'int', 'CALD':'int'})

In [10]:
df.drop_duplicates(inplace=True)
df.head()

,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,GENDER,INDIGENOUS,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,EDUCATION_ADJ
0,1,Stream A,Female,0,0,0,1,0,0,50 to 54 years,Under 12 Months,Degree
4,2,Stream C,Female,0,1,0,0,0,0,25 to 29 years,24 to 59 Months,Diploma
12,7,Stream C,Male,0,0,1,0,0,0,30 to 39 years,60+ Months,<Year 10
19,12,Stream C,Female,0,1,1,0,0,0,30 to 39 years,24 to 59 Months,Year 10/11
20,13,Stream A,Female,0,0,0,0,0,0,Under 22 years,Under 12 Months,Year 10/11

In [11]:
df.drop(df[df['STREAM_PLACEMENT_DESC']=="Stream Volunteer"].index, inplace=True)

In [12]:
df.to_csv("stream_classify.csv")